SYS=system/oracle@localhost/orcl
CARICA=carica/carica@localhost/orcl
ENV=@c:\esercizioAgostino\create_env.sql
CONTROL=control=c:\esercizioAgostino\data\sqlloader.ctl log=c:\esercizioAgostino\log\log_sqlloader.txt
LOAD_SQLLOADER=@c:\esercizioAgostino\LOAD_SQLLOADER.sql
LOAD_EXTERNAL_TABLE=@c:\esercizioAgostino\LOAD_EXTERNAL_TABLE.sql
LOAD_UTL=@c:\esercizioAgostino\LOAD_UTL.sql